{% extends "base.html" %} {% block title %} About {% endblock %} {% block content %}
<div class="container">
    <div class="row">
        <div class="text-center">
            <h1 class="text-center product_title">
                About us
            </h1>
            <div class="col col-md-3">
                <img src="https://images.unsplash.com/photo-1555602015-9efbc925fc5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" class="img-fluid" alt="Responsive image">
            </div>
            <h5>Who Are we?</h5>
            <div class="col">
                <p>Everyone who works at our shop has fossil finding as a passion! We travel the world in search of these treasures of history. Our clients are from all over the world. Some of our fossils are even on display in musea all over</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
