body {
    background-color: white;
    margin: 0;
    height: 100%;

}

/*--------------Styling on all the pages-------------------*/

h1 {
    color: brown;
    margin-left: 1.3rem;
}

h2 {
    color: #632d19;
    margin-left: 1.1rem;
    font-size: 2rem;
}

.product_title {
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#shoppingcart {
    display: none;
}

/*------------------navbar.html styling--------------------*/

.navbar-light .navbar-nav .active>.nav-link {
    color: #632d19;

}

.navbar-light .navbar-nav .nav-link {
    color: #632d19;
}

.navbar-toggler {
    margin-left: 5rem;
}



#shoppingcart2 {
    color: #632d19;
    margin-left: 16.8rem;
    margin-top: -5.8rem;
    padding-right: 4px;
    padding-left: 10px;
    list-style-type: none;
    font-size: 23px;

}

.item_count {
    margin-top: -1.5em;
    margin-left: 1.8rem;
    margin-bottom: 1rem;
}

/*-----------------index.html styling--------------------*/

.pagination {
    padding-left: 4rem;
}

.page-link {
    margin-left: 25px;
}

.search-bar {
    width: 100%;
    margin-left: 7px;
}

.card-text {
    color: green;
    font-weight: 700;
}

.card-shop {
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-left: 67px;
    margin-right: 4rem;
    margin-bottom: 19px;
    margin-top: 28px;
}

/*----------------------button styling------------------------*/

.btn-info,
.btn-warning {
    border-color: #795548;
    margin-left: 1.7rem;
}

.btn-contactform {
    margin-left: 0rem;
    margin-bottom: 0.5rem;
}

.cart-button {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

/*--------------------faq.html styling-----------------------*/

.card-faq {
    margin-left: auto;
    margin-bottom: 1rem;
}

.faq-body {
    background-color: red;
}

/*------------------detail.html styling-----------------------*/

.product_text {
    text-align: center;
    padding-right: 20px;
    margin-left: 4rem;
}

.product_description {
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-left: 4rem;
}

.text-price {
    text-align: center;
    margin-left: 1.5rem;
    font-size: 1rem;
}

.errorlist li {
    color: red;
    font-weight: bold;
}

/*To hide an list dot from the webpage*/

.nav-item {
    list-style-type: none;
}

/*-----------------contact.html---------------------------*/

.form-color {
    background-color: #152e94;
}

/*----------------footer.html styling----------------------*/

.footer {
    background-color: #E2D0BE;
}

.footer-copyright {
    margin: auto;
}

.pt-4 {
    width: 100%;
    height: 22rem;
    background-color: #E2D0BE;
}


/*------------------------------@media for Tablets (min-width: 768px)-----------------------------------*/

@media (min-width: 768px) {
    /*--------------Styling on all the pages-------------------*/
    h6 {
        font-size: 1.7rem;
    }
    h1 {
        font-size: 3.5rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h5 {
        font-size: 1.9rem;
    }

    p {
        font-size: 1.6rem;
    }
    .product_title {
        font-size: 2.2rem;
    }
    label {
        font-size: 1.5rem;
    }

    /*------------------navbar.html styling--------------------*/
    .navbar-light .navbar-nav .active>.nav-link {
        font-size: 1.7rem;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 1.7rem;
    }
    .navbar-light .navbar-toggler {
        margin-left: 20rem;
        margin-top: 1rem;
        font-size: 3rem;
    }
    #shoppingcart2 {
        margin-top: -8.8rem;
        margin-left: 39.8rem;
        font-size: 42px;
    }
    .item_count {
        margin-left: 2.8rem;

    }
    .logo {
        width: 13rem;
        height: 9rem;
    }
    .dropdown-item {
        font-size: 1.5rem;
    }

    /*--------------index.html styling-------------------*/
    .page-link {
        margin-left: 10px;
        font-size: 1.5rem;
    }
    .card-shop {
        width: 13rem;
    }
    .card-text:last-child {
        font-size: 1.5rem;
    }
    .card-link {
        font-size: 1.5rem;
    }
    .card-title {
        font-size: 1.7rem;
    }
    .card-body {
        font-size: 1.4rem;
    }
    .search {
        font-size: 2rem;
        margin-left: 1rem;
    }
    .page-item.active .page-link {
        font-size: 1.5rem;
    }

    /*--------------button disabled index.html styling-------------------*/
    .btn-secondary:disabled {
        font-size: 1.5rem;
    }
    /*other button styling*/
    .buttons {
        font-size: 2rem;
    }
    /*--------------contact.html styling-------------------*/
    .form-control {
        font-size: 2rem;
    }

    /*--------------footer.html styling-------------------*/
    .links {
        font-size: 1.5rem;
    }

    .footer-copyright {
        font-size: 1.5rem;
    }
    .fab {
        font-size: 2.5rem;
        margin-top: 4rem;
    }

    .table {
        font-size: 1.5rem;
    }
    .page-footer {
        height: 31rem;
    }

    /*--------------ordsuccess.html styling-------------------*/
    .succesfullpar {
        margin-bottom: 2rem;
    }
}

/*media for laptop with touch screen */

@media (min-width: 993px) {
    /*--------------index.html styling-------------------*/
    .card-shop {
        margin-left: 1rem;
    }

    #shoppingcart2 {
        display: none;
    }

    #shoppingcart {
        display: block;

    }
    .navbar-light .navbar-nav .nav-link {
        padding-left: 5rem;
    }
    .page-item:last-child .page-link {
        margin-left: 5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .cart-button {
        margin-left: 3rem;
    }

    .fab {
        padding-left: 1rem;
        padding-right: 3rem;
        color:black;
    }
}
