{% extends 'base.html' %} 
{% block title %}
    Product
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row mt-5">
        <div class="col-10 mx-auto col-md-5 my-3">
            <img src="{{MEDIA_URL}}{{product_detail.image}}" class="card-img-top" alt="{{product.title}}">
        </div>
        <div class="col-10 max-auto col-md-7 my-3">
            <div>
                <h1 class="h1 product_title">{{product_detail.title}}</h1>
                <h5 class="text-price font-italic mb-3">Price: €{{product_detail.price}}</h5>
                
                <p class="product_description">Product Description</p>
                <p class="text-align-center product_text">{{product_detail.description}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}