{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="container py-2">
        <header id="home-header" class="col-12 text-center">
          <h1>The Fossil Shop</h1>
          <h2>Treasures from all over the world.</h2>
          <hr>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <form class=" search-bar card card-sm-12">
        <div class="card-body row no-gutters align-items-center">
          <div class="col">
            <input type="search" name='item_name' placeholder="Search for products" class="form-control form-control-borderless">
          </div>
          <div class="col-auto">
            <button class="search btn btn-dark" type="submit"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    {% for product in product_objects %}
    <div class=" col-12 col-md-6 col-lg-3">
      <div class="card card-shop">
        <img src="{{MEDIA_URL}}{{product.image}}" class="card-img-top" alt="{{product.title}}">
        <div class="card-body">
          <div class="card-title">
            <a href="/{{product.id}}" <h3>{{product.title}}</h3></a>
          </div>
          <div class="card-text">
            <p>€{{product.price}}</p>
          </div>
        </div>
        {% if request.user.is_authenticated and request.user.first_name %}
        <div class="input-group">
          <span class="input-group-btn">
              <a href="{% url 'add_cart' product.id %}">
          <button type="button" name="button" class="btn btn-primary cart-button">
            Add to Cart
          </button>
            </span>
        </div>
        {% else %}
        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Create account/login to use this button">
        <button class="btn btn-secondary" style="pointer-events: none;" type="button" disabled>Add to Cart</button>
        </span>
        {% endif %}
        </form>
      </div>
    </div>
    {% endfor %}
  </div>


  <nav aria-label="Page navigation">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <ul class="pagination">
          {% if product_objects.has_previous %}

          <li class="page-item">
            <a class="page-link" href="?page={{ product_objects.previous_page_number  }}">Previous</a>
          </li>
          {% endif %}


          <li class="page-item active">
            <a class="page-link" href="?page={{ product_objects.number  }}">Current</a>
          </li>

          {% if product_objects.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ product_objects.next_page_number  }}">Next</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

</div>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script>
  $(function() {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %}
